@font-face {
    font-family: 'MunroNarrow';
    src: url('../fonts/munro_narrow-webfont.eot');
    src: url('../fonts/munro_narrow-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/munro_narrow-webfont.woff') format('woff'),
         url('../fonts/munro_narrow-webfont.ttf') format('truetype'),
         url('../fonts/munro_narrow-webfont.svg#munro_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProcionoRegular';
    src: url('../fonts/Prociono-Regular-webfont.eot');
    src: url('../fonts/Prociono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Prociono-Regular-webfont.woff') format('woff'),
         url('../fonts/Prociono-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Prociono-Regular-webfont.svg#Prociono-Regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #37414b;
}

.row.full-width{
    width: 100%;
    max-width: 100%;
}

#font{
    font: 160px 'MunroNarrow', sans-serif;
	color: #f6f1d4;
	letter-spacing: .15em;
	text-transform: uppercase;
	text-shadow:
		1px 1px 0 #ee500a,
		2px 2px 0 #ee500a,
		3px 3px 0 #ee500a,
		4px 4px 0 #ee500a,
		5px 5px 0 #ee500a,
		6px 6px 0 #ee500a,
		12px 12px 0 #1b242b;
}

#font2{
    font: 30px 'ProcionoRegular', sans-serif;
	color: #f6f1d4;
	letter-spacing: .15em;
}

h1{
    color: #f6f1d4;
}

#perfil{
    width: 70%;
    border-radius: 200px;
    box-shadow: 2px 4px 30px black;
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

footer{
    bottom: 0;
    color: #f6f1d4;
}